$primary: #ff9c08;
$firstBlack: #090909;
$greyBlack: #6e6e6e;
$white: #ffffff;
$orange: #ffd4a4;
$grey: #989898;
$lightBlack: #222222;
$mainbackground: #fef9f2;
$grey: #6e6e6e;

$tablet: 1024px;
$mobileL: 800px;
$mobileM: 630px;
$mobileS: 420px;

$br: 10px;

@mixin font {
  font-family: "normal";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@font-face {
  font-family: "normal";
  src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  font-family: "regular", sans-serif;
}
.container {
  max-width: 1440px;
  padding: 0px 32px;
  margin: 0 auto;
}
nav {
  .nav {
    max-width: 1220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;

    .nav_left {
      display: flex;
      align-items: center;
      gap: 50px;
      .phone_logo {
        display: none;
      }
      .nav_items {
        display: flex;

        .phone_menu {
          display: none;
        }

        .nav_menu {
          display: flex;
          gap: 50px;

          li {
            list-style: none;
            a {
              text-decoration: none;
              color: $lightBlack;
              @include font;
            }
          }
        }
      }
    }
    .nav_right {
      min-height: 54px;
      display: flex;
      text-align: center;
      gap: 28px;
      .icon {
        margin-top: 10px;
        .square {
          position: absolute;
          width: 15px;
          height: 15px;
          margin-top: -12px;
          background-color: $primary;
        }
      }
      #donate {
        background-color: $primary;
        padding: 16px 24px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: $firstBlack;
        font-family: "normal";
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        .span {
          display: none;
        }
      }
    }

    @media screen and (max-width: $mobileL) {
      .nav_left {
        gap: 10px;

        .nav_items {
          .nav_menu {
            gap: 10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobileM) {
    .nav {
      justify-content: space-around;
      .nav_left {
        .logo {
          display: none;
        }
        .phone_logo {
          display: block;
        }
        .nav_items {
          .nav_menu {
            display: none;
          }
          .phone_menu {
            display: block;
          }
        }
      }
    }
  }
  @media screen and (max-width: $mobileS) {
    .nav {
      .nav_right {
        #donate {
          padding: 5px;
          span {
            display: none;
          }
          .span {
            display: block;
          }
        }
      }
    }
  }
}

header {
  .header {
    height: 869px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    gap: 105px;
    .header_left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .line {
        width: 100px;
        height: 2px;
        background-color: $primary;
      }
      h1 {
        font-size: min(50px, max(25px + 2vw));
        font-weight: 1200;
        line-height: 80px;
        color: $firstBlack;
      }
      p {
        margin: 24px 0px;
        font-family: "normal";
        font-size: 18px;
        line-height: 30px;
        max-width: 597px;
        color: $greyBlack;
      }
      .header_left_btn {
        display: flex;
        gap: 28px;
        a {
          display: block;
          text-decoration: none;
          padding: 23px 38px;
          color: $firstBlack;
          font-weight: bold;
          &:nth-child(1) {
            background: $primary;
            border-radius: $br;
          }
        }
      }
    }
    .header_right {
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: $tablet) {
      gap: 50px;
      .header_left {
        .header_left_btn {
          gap: 16px;
          a {
            padding: 12px 18px;
          }
        }
      }
    }

    @media screen and (max-width: $mobileL) {
      flex-wrap: wrap;
      .header_left {
        h1 {
          line-height: 50px;
        }
        p {
          margin: 24px 0px;

          font-size: 18px;
          line-height: 30px;
        }
        .header_left_btn {
          gap: 16px;
          a {
            padding: 16px 32px;
          }
        }
      }
    }

    @media screen and (max-width: $mobileL) {
      flex-wrap: wrap;
      .header_left {
        h1,
        p {
          text-align: center;
        }
        .header_left_btn {
          flex-wrap: wrap;
          a {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

main {
  .main {
    max-width: 1268px;
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      text-align: center;
      span {
        font-weight: 700;
        font-size: 60px;
        &:nth-child(1) {
          color: $firstBlack;
        }
        &:nth-child(2) {
          color: $primary;
        }
      }
      p {
        font-family: "normal";
        color: $greyBlack;
        font-size: 20px;
        margin-top: 5px;
      }
    }
  }

  .about {
    background-color: $mainbackground;
    padding: 124px 72px 272px;

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $primary;
    }

    .about_content {
      display: flex;
      gap: 24px;
      .about_left {
        h2 {
          margin: 0;
          font-weight: 700;
          font-size: min(42px, max(20px + 2vw));
          line-height: 58px;
          color: $firstBlack;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          font-family: "normal";
          color: $greyBlack;
          max-width: 500px;
        }
        .about_left_img {
          img {
            max-width: 100%;
          }
        }
      }
      .about_right {
        .about_right_btns {
          a {
            padding: 16px 32px;
            display: inline-block;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            color: $firstBlack;
            &:nth-child(1) {
              background-color: $primary;
            }
            &:nth-child(2) {
              border: 1px solid #f0ece8;
              box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
              border-radius: 10px;
              background: #ffffff;
            }
          }
        }
        .about_right_img {
          margin: 48px 0px;
          img {
            max-width: 100%;
          }
        }
        p {
          max-width: 500px;
          font-family: "normal";
          font-weight: 400;
          font-size: 18px;
          color: $grey;
        }
        .about_footer {
          .about_right_footer {
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            svg {
            }
            span {
              font-weight: 400;
              font-size: 18px;
              color: $firstBlack;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .results {
    display: flex;
    gap: 128px;
    margin-top: 180px;
    margin-bottom: 215px;
    padding: 0 64px;
    .results_left {
      padding: 90px 0px;
      h4 {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $primary;
        font-family: "normal";
      }
      h2 {
        font-family: "regular";
        font-weight: 700;
        font-size: min(40px, max(20px + 2vw));
        color: $firstBlack;
      }
      .results_items {
        display: flex;
        gap: 75px;
        .results_item_left {
          display: flex;
          flex-direction: column;
        }
        .results_item_right {
          display: flex;
          flex-direction: column;
        }
      }
      .results_a {
        margin-top: 72px;
        a {
          display: inline-block;
          text-decoration: none;
          padding: 23px 38px;
          color: $firstBlack;
          font-weight: bold;
          background: $primary;
          border-radius: $br;
        }
      }
    }
    .results_right {
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 1220px) {
      gap: 20px;
      .results_right {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      .results_left {
        padding: 32px 0px;
        .results_items {
          gap: 16px;
        }
      }
    }
    @media screen and (max-width: $mobileM) {
      padding-left: 32px;
      .results_items {
        flex-wrap: wrap;
      }
    }
  }

  .helped {
    position: relative;
    .helped_top {
      padding-top: 198px;
      height: 864px;
      background: #ffd4a4;

      h4 {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $primary;
        font-family: "normal";
        text-align: center;
      }
      h2 {
        font-family: "regular";
        font-weight: 700;
        font-size: min(40px, max(20px + 2vw));
        color: $firstBlack;
        text-align: center;
      }
      .helped_top_btn {
        text-align: center;
        a {
          display: inline-block;
          text-decoration: none;
          padding: 23px 38px;
          color: $firstBlack;
          font-weight: bold;
          border-radius: $br;
          &:nth-child(1) {
            background: $firstBlack;
            color: $white;
            margin-right: 24px;
          }
          &:nth-child(2) {
            background: $white;
            color: $firstBlack;
          }
          @media screen and (max-width: $mobileS) {
            margin-top: 24px;
          }
        }
      }
    }
    .helped_bottom {
      position: absolute;
      top: 530px;
      left: 200px;
      overflow: hidden;
      border-radius: 57px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .community {
    margin-top: 500px;
    margin-bottom: 300px;
    h4 {
      font-family: "normal";
      font-weight: 700;
      font-size: 20px;
      color: $primary;
    }
    .community_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-family: "regular";
        font-weight: 700;
        font-size: min(42px, max(20px + 2vw));
        color: $firstBlack;
      }
      a {
        text-decoration: none;
        display: inline-block;
        padding: 16px 32px;
        color: $firstBlack;
        background: $primary;
        border-radius: $br;
      }
    }

    .community_content {
      display: flex;
      flex-direction: column;
      gap: 28px;
      .content_items_1,
      .content_items_2 {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        .content_item {
          background: #ffffff;
          border: 1px solid #f0ece8;
          box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
          border-radius: 12px;
          width: 360px;
          height: 450px;
          padding: 38px 57px;

          img {
            width: 100%;
            margin: 25px 50px;
          }
          h4 {
            text-align: center;
            font-family: "regular";
            font-weight: 700;
            font-size: 24px;
            color: $firstBlack;
          }
          p {
            text-align: center;
            font-family: "normal";
            font-weight: 400;
            font-size: min(18px, max(10px + 2vw));
            color: $greyBlack;
          }
        }
      }
    }
  }

  .join {
    background: $primary;
    border-radius: 40px;
    margin-top: 400px;
    height: 436px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 158px;
    .join_left {
      h2 {
        font-family: "regular";
        font-weight: 700;
        font-size: min(40px, max(20px + 2vw));
        color: $firstBlack;
        text-align: center;
      }
    }
    .join_right {
      a {
        display: inline-block;
        text-decoration: none;
        padding: 23px 38px;
        color: $firstBlack;
        font-weight: bold;
        border-radius: $br;
        &:nth-child(1) {
          background: $firstBlack;
          color: $white;
          margin-right: 24px;
        }
        &:nth-child(2) {
          background: $white;
          color: $firstBlack;
        }
      }
    }
  }

  .test {
    display: flex;
    padding: 200px 0;
    justify-content: center;
    gap: 56px;
    background: $mainbackground;
    position: relative;
    .test_left {
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .test_right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h4 {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $primary;
        font-family: "normal";
        text-align: center;
      }
      h2 {
        font-family: "regular";
        font-weight: 700;
        font-size: min(40px, max(20px + 2vw));
        color: $firstBlack;
        margin-top: 20px;
      }
      p {
        font-weight: 400;
        font-size: 17px;
        color: $greyBlack;
      }
      .test_footer {
        .test_right_footer {
          display: flex;
          justify-content: flex-start;
          gap: 16px;
          svg {
          }
          span {
            font-weight: 400;
            font-size: 18px;
            color: $firstBlack;
            margin-bottom: 20px;
          }
        }
      }
      .test_btn {
        a {
          display: inline-block;
          text-decoration: none;
          padding: 23px 38px;
          color: $firstBlack;
          font-weight: bold;
          background: $primary;
          border-radius: $br;
        }
      }
    }
    .test_amara {
      position: absolute;
      width: 388px;
      height: 298px;
      background: $white;
      border: 1px solid #f0ece8;
      box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
      border-radius: 12px;
      top: 600px;
      left: 360px;
      padding: 64px 40px;

      p {
        font-weight: 400;
        font-size: 17px;
        color: $greyBlack;
      }
      h4 {
        color: $firstBlack;
        font-size: 18px;
      }
    }
  }

  .news {
    h4 {
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $primary;
      font-family: "normal";
      text-align: center;
    }
    h2 {
      font-family: "regular";
      font-weight: 700;
      font-size: min(40px, max(20px + 2vw));
      color: $firstBlack;
      text-align: center;
    }
    .news_items {
      display: flex;
      justify-content: space-around;
      gap: 24px;
      .news_item {
        position: relative;
        .news_item_top {
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .news_item_bottom {
          background: $white;
          border: 1px solid #f0ece8;
          box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
          border-radius: 12px;
          padding: 48px;
          top: 250px;
          left: 200px;
          position: absolute;
          max-width: 548px;
          height: 300px;

          a {
            font-weight: 400;
            font-size: 17px;
            color: $greyBlack;
          }
          span {
            margin-left: 16px;
            font-weight: 400;
            font-size: 17px;
            color: $greyBlack;
          }
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: $firstBlack;
          }
        }
        .news_item_bottom1 {
          background: $white;
          border: 1px solid #f0ece8;
          box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
          border-radius: 12px;
          padding: 48px;
          top: 250px;
          right: 200px;
          position: absolute;
          max-width: 548px;
          height: 300px;

          a {
            font-weight: 400;
            font-size: 17px;
            color: $greyBlack;
          }
          span {
            margin-left: 16px;
            font-weight: 400;
            font-size: 17px;
            color: $greyBlack;
          }
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: $firstBlack;
          }
        }
      }
    }
    .news_footer {
      text-align: center;
      margin-top: 280px;
      a {
        display: inline-block;
        text-decoration: none;
        padding: 23px 38px;
        color: $firstBlack;
        font-weight: bold;
        background: $primary;
        border-radius: $br;
        &:nth-child(2) {
          display: inline-block;
          text-decoration: none;
          padding: 23px 38px;
          color: $firstBlack;
          font-weight: bold;
          border-radius: $br;
          background: $white;
          border: 1px solid #f0ece8;
          box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    .test {
      flex-wrap: wrap;
      .test_amara {
        left: 260px;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .about {
      .about_content {
        flex-wrap: wrap;
        .about_left {
          h2 {
            line-height: 45px;
          }
          .about_left_img {
            img {
              width: 100%;
            }
          }
        }

        .about_right {
          .about_right_img {
            img {
              width: 100%;
            }
          }

          .about_footer {
            .about_right_footer {
              gap: 8px;
            }
          }
        }
      }
    }
    .community {
      .community_header {
        flex-wrap: wrap;
      }

      .community_content {
        .content_items_1,
        .content_items_2 {
          flex-wrap: wrap;
          justify-content: center;
          gap: 4px;
        }
      }
    }
    .join {
      flex-wrap: wrap;
    }
    .news {
      .news_items {
        flex-wrap: wrap;
        gap: 250px;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .main {
      flex-wrap: wrap;
      padding-top: 600px;
    }

    .helped {
      .helped_bottom {
        top: 630px;
        left: 120px;

        img {
          width: 650px;
        }
      }
    }
  }
  @media screen and (max-width: $mobileL) {
    .helped {
      .helped_bottom {
        left: 100px;

        img {
          width: 450px;
        }
      }
    }
    .test {
      gap: 200px;
      .test_amara {
        left: 60px;
      }
    }
  }

  @media screen and (max-width: $mobileM) {
    .main {
      padding-top: 250px;
    }

    .about {
      padding: 72px;
      .about_content {
        .about_left {
          .about_left_img {
            img {
              max-width: 100%;
              width: 300px;
            }
          }
        }

        .about_right {
          .about_right_img {
            img {
              max-width: 100%;
              width: 300px;
            }
          }
        }
      }
    }
    .results {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .helped {
      .helped_bottom {
        top: 750px;
        left: 0px;

        img {
          width: 100%;
        }
      }
    }
    .join {
      .join_right {
        a {
          padding: 12px 18px;
          margin-top: 8px;
        }
      }
    }
    .test {
      gap: 300px;
      .test_amara {
        left: 0px;
        top: 400px;
      }
    }
    .news {
      .news_items {
        .news_item {
          .news_item_bottom {
            top: 150px;
            left: 200px;
            height: 400px;
          }
          .news_item_bottom1 {
            top: 250px;
            height: 400px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobileS) {
    .main {
      padding-top: 120px;
    }
    .about {
      .about_content {
        gap: 16px;

        .about_right {
          .about_right_btns {
            a {
              padding: 8px 16px;
            }
          }
        }
      }
    }
    .community {
      .community_header {
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
      }

      .community_content {
        .content_items_1,
        .content_items_2 {
          .content_item {
            max-width: 300;
          }
        }
      }
    }
  }
}

// NORMALIZE.CSS
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

ul {
  margin: 0px;
  padding: 0px;
}

/* Sections
       ========================================================================== */

/**
     * Remove the margin in all browsers.
     */

body {
  margin: 0;
}

/**
     * Render the `main` element consistently in IE.
     */

main {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
       ========================================================================== */

/**
     * Remove the gray background on active links in IE 10.
     */

a {
  background-color: transparent;
}

/**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */

b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
     * Add the correct font size in all browsers.
     */

small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */

/**
     * Remove the border on images inside links in IE 10.
     */

img {
  border-style: none;
}

/* Forms
       ========================================================================== */

/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
     * Remove the inner border and padding in Firefox.
     */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
     * Restore the focus styles unset by the previous rule.
     */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Correct the padding in Firefox.
     */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */

progress {
  vertical-align: baseline;
}

/**
     * Remove the default vertical scrollbar in IE 10+.
     */

textarea {
  overflow: auto;
}

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
       ========================================================================== */

/*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */

details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */

summary {
  display: list-item;
}

/* Misc
       ========================================================================== */

/**
     * Add the correct display in IE 10+.
     */

template {
  display: none;
}

/**
     * Add the correct display in IE 10.
     */

[hidden] {
  display: none;
}
