@font-face {
  font-family: "normal";
  src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: "regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  font-family: "regular", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0px 32px;
  margin: 0 auto;
}

nav .nav {
  max-width: 1220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
}
nav .nav .nav_left {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .nav .nav_left .phone_logo {
  display: none;
}
nav .nav .nav_left .nav_items {
  display: flex;
}
nav .nav .nav_left .nav_items .phone_menu {
  display: none;
}
nav .nav .nav_left .nav_items .nav_menu {
  display: flex;
  gap: 50px;
}
nav .nav .nav_left .nav_items .nav_menu li {
  list-style: none;
}
nav .nav .nav_left .nav_items .nav_menu li a {
  text-decoration: none;
  color: #222222;
  font-family: "normal";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
nav .nav .nav_right {
  min-height: 54px;
  display: flex;
  text-align: center;
  gap: 28px;
}
nav .nav .nav_right .icon {
  margin-top: 10px;
}
nav .nav .nav_right .icon .square {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: -12px;
  background-color: #ff9c08;
}
nav .nav .nav_right #donate {
  background-color: #ff9c08;
  padding: 16px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #090909;
  font-family: "normal";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
nav .nav .nav_right #donate .span {
  display: none;
}
@media screen and (max-width: 800px) {
  nav .nav .nav_left {
    gap: 10px;
  }
  nav .nav .nav_left .nav_items .nav_menu {
    gap: 10px;
  }
  nav .nav .nav_right {
    gap: 10px;
  }
}
@media screen and (max-width: 630px) {
  nav .nav {
    justify-content: space-around;
  }
  nav .nav .nav_left .logo {
    display: none;
  }
  nav .nav .nav_left .phone_logo {
    display: block;
  }
  nav .nav .nav_left .nav_items .nav_menu {
    display: none;
  }
  nav .nav .nav_left .nav_items .phone_menu {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  nav .nav .nav_right #donate {
    padding: 5px;
  }
  nav .nav .nav_right #donate span {
    display: none;
  }
  nav .nav .nav_right #donate .span {
    display: block;
  }
}

header .header {
  max-width: 1330px;
  height: 869px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  gap: 105px;
}
header .header .header_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header .header_left .line {
  width: 100px;
  height: 2px;
  background-color: #ff9c08;
}
header .header .header_left h1 {
  font-size: 50px;
  font-weight: 1200;
  line-height: 80px;
  color: #090909;
}
header .header .header_left p {
  margin: 24px 0px;
  font-family: "normal";
  font-size: 18px;
  line-height: 30px;
  max-width: 597px;
  color: #6e6e6e;
}
header .header .header_left .header_left_btn {
  display: flex;
  gap: 28px;
}
header .header .header_left .header_left_btn a {
  display: block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
}
header .header .header_left .header_left_btn a:nth-child(1) {
  background: #ff9c08;
  border-radius: 10px;
}
header .header .header_right img {
  max-width: 677px;
  height: 869px;
}

main .main {
  max-width: 1268px;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .main div {
  text-align: center;
}
main .main div span {
  font-weight: 700;
  font-size: 60px;
}
main .main div span:nth-child(1) {
  color: #090909;
}
main .main div span:nth-child(2) {
  color: #ff9c08;
}
main .main div p {
  font-family: "normal";
  color: #6e6e6e;
  font-size: 20px;
  margin-top: 5px;
}
main .about {
  background-color: #fef9f2;
  padding: 124px 72px 272px;
}
main .about h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ff9c08;
}
main .about .about_content {
  display: flex;
  gap: 24px;
}
main .about .about_content .about_left h2 {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
  color: #090909;
}
main .about .about_content .about_left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "normal";
  color: #6e6e6e;
}
main .about .about_content .about_left .about_left_img {
  width: 100%;
}
main .about .about_content .about_right .about_right_btns a {
  padding: 16px 32px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #090909;
}
main .about .about_content .about_right .about_right_btns a:nth-child(1) {
  background-color: #ff9c08;
}
main .about .about_content .about_right .about_right_btns a:nth-child(2) {
  border: 1px solid #f0ece8;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
  border-radius: 10px;
  background: #ffffff;
}
main .about .about_content .about_right .about_right_img {
  margin: 48px 0px;
}
main .about .about_content .about_right .about_right_img img {
  max-width: 600px;
  height: 750px;
}
main .about .about_content .about_right p {
  font-family: "normal";
  font-weight: 400;
  font-size: 18px;
  color: #6e6e6e;
}
main .about .about_content .about_right .about_footer .about_right_footer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
main .about .about_content .about_right .about_footer .about_right_footer span {
  font-weight: 400;
  font-size: 18px;
  color: #090909;
  margin-bottom: 20px;
}
main .results {
  display: flex;
  gap: 128px;
  margin-top: 180px;
  margin-bottom: 215px;
  padding: 0 64px;
}
main .results .results_left {
  padding: 90px 0px;
}
main .results .results_left h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ff9c08;
  font-family: "normal";
}
main .results .results_left h2 {
  font-family: "regular";
  font-weight: 700;
  font-size: min(40px, max(20px + 2vw));
  color: #090909;
}
main .results .results_left .results_items {
  display: flex;
  gap: 75px;
}
main .results .results_left .results_items .results_item_left {
  display: flex;
  flex-direction: column;
}
main .results .results_left .results_items .results_item_right {
  display: flex;
  flex-direction: column;
}
main .results .results_left .results_a {
  margin-top: 72px;
}
main .results .results_left .results_a a {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  background: #ff9c08;
  border-radius: 10px;
}
main .results .results_right img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1220px) {
  main .results {
    gap: 20px;
  }
  main .results .results_right img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  main .results {
    flex-wrap: wrap;
  }
  main .results .results_left {
    padding: 32px 0px;
  }
  main .results .results_left .results_items {
    gap: 16px;
  }
}
@media screen and (max-width: 630px) {
  main .results {
    padding-left: 32px;
  }
  main .results .results_items {
    flex-wrap: wrap;
  }
}
main .helped {
  position: relative;
}
main .helped .helped_top {
  padding-top: 198px;
  height: 864px;
  background: #ffd4a4;
}
main .helped .helped_top h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ff9c08;
  font-family: "normal";
  text-align: center;
}
main .helped .helped_top h2 {
  font-family: "regular";
  font-weight: 700;
  font-size: min(40px, max(20px + 2vw));
  color: #090909;
  text-align: center;
}
main .helped .helped_top .helped_top_btn {
  text-align: center;
}
main .helped .helped_top .helped_top_btn a {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  border-radius: 10px;
}
main .helped .helped_top .helped_top_btn a:nth-child(1) {
  background: #090909;
  color: #ffffff;
  margin-right: 24px;
}
main .helped .helped_top .helped_top_btn a:nth-child(2) {
  background: #ffffff;
  color: #090909;
}
@media screen and (max-width: 420px) {
  main .helped .helped_top .helped_top_btn a {
    margin-top: 24px;
  }
}
main .helped .helped_bottom {
  position: absolute;
  top: 530px;
  left: 200px;
  overflow: hidden;
  border-radius: 57px;
}
main .helped .helped_bottom img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screeen and (max-width: 630px) {
  main .helped .helped_bottom {
    margin: 0 auto;
  }
}
main .community {
  margin-top: 900px;
  margin-bottom: 300px;
}
main .community .community_content {
  display: flex;
}
main .join {
  background: #ff9c08;
  border-radius: 40px;
  margin-top: 400px;
  height: 436px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 158px;
}
main .join .join_left h2 {
  font-family: "regular";
  font-weight: 700;
  font-size: min(40px, max(20px + 2vw));
  color: #090909;
  text-align: center;
}
main .join .join_right a {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  border-radius: 10px;
}
main .join .join_right a:nth-child(1) {
  background: #090909;
  color: #ffffff;
  margin-right: 24px;
}
main .join .join_right a:nth-child(2) {
  background: #ffffff;
  color: #090909;
}
@media screen and (max-width: 420px) {
  main .join .join_right a {
    margin-top: 24px;
  }
}
main .test {
  display: flex;
  padding: 200px 0;
  justify-content: center;
  gap: 56px;
  background: #fef9f2;
  position: relative;
}
main .test .test_left img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .test .test_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .test .test_right h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ff9c08;
  font-family: "normal";
  text-align: center;
}
main .test .test_right h2 {
  font-family: "regular";
  font-weight: 700;
  font-size: min(40px, max(20px + 2vw));
  color: #090909;
  margin-top: 20px;
}
main .test .test_right p {
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .test .test_right .test_footer .test_right_footer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
main .test .test_right .test_footer .test_right_footer span {
  font-weight: 400;
  font-size: 18px;
  color: #090909;
  margin-bottom: 20px;
}
main .test .test_right .test_btn a {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  background: #ff9c08;
  border-radius: 10px;
}
main .test .test_amara {
  position: absolute;
  width: 388px;
  height: 298px;
  background: #ffffff;
  border: 1px solid #f0ece8;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
  border-radius: 12px;
  top: 600px;
  left: 360px;
  padding: 64px 40px;
}
main .test .test_amara p {
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .test .test_amara h4 {
  color: #090909;
  font-size: 18px;
}
main .news h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ff9c08;
  font-family: "normal";
  text-align: center;
}
main .news h2 {
  font-family: "regular";
  font-weight: 700;
  font-size: min(40px, max(20px + 2vw));
  color: #090909;
  text-align: center;
}
main .news .news_items {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
main .news .news_items .news_item {
  position: relative;
}
main .news .news_items .news_item .news_item_top img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .news .news_items .news_item .news_item_bottom {
  background: #ffffff;
  border: 1px solid #f0ece8;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
  border-radius: 12px;
  padding: 48px;
  top: 250px;
  left: 200px;
  position: absolute;
  max-width: 548px;
  height: 300px;
}
main .news .news_items .news_item .news_item_bottom a {
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .news .news_items .news_item .news_item_bottom span {
  margin-left: 16px;
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .news .news_items .news_item .news_item_bottom h3 {
  font-weight: 700;
  font-size: 24px;
  color: #090909;
}
main .news .news_items .news_item .news_item_bottom1 {
  background: #ffffff;
  border: 1px solid #f0ece8;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
  border-radius: 12px;
  padding: 48px;
  top: 250px;
  right: 200px;
  position: absolute;
  max-width: 548px;
  height: 300px;
}
main .news .news_items .news_item .news_item_bottom1 a {
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .news .news_items .news_item .news_item_bottom1 span {
  margin-left: 16px;
  font-weight: 400;
  font-size: 17px;
  color: #6e6e6e;
}
main .news .news_items .news_item .news_item_bottom1 h3 {
  font-weight: 700;
  font-size: 24px;
  color: #090909;
}
main .news .news_footer {
  text-align: center;
  margin-top: 280px;
}
main .news .news_footer a {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  background: #ff9c08;
  border-radius: 10px;
}
main .news .news_footer a:nth-child(2) {
  display: inline-block;
  text-decoration: none;
  padding: 23px 38px;
  color: #090909;
  font-weight: bold;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #f0ece8;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

ul {
  margin: 0px;
  padding: 0px;
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers.
     */
body {
  margin: 0;
}

/**
     * Render the `main` element consistently in IE.
     */
main {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent;
}

/**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE 10.
     */
img {
  border-style: none;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
     * Remove the inner border and padding in Firefox.
     */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
     * Restore the focus styles unset by the previous rule.
     */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline;
}

/**
     * Remove the default vertical scrollbar in IE 10+.
     */
textarea {
  overflow: auto;
}

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/* Misc
       ========================================================================== */
/**
     * Add the correct display in IE 10+.
     */
template {
  display: none;
}

/**
     * Add the correct display in IE 10.
     */
[hidden] {
  display: none;
}/*# sourceMappingURL=style.css.map */